{% extends 'coffeeapp/home.html' %}

{% load static %}

{% block content %}
<style>
    .edit-item-container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    body {
        background: url('{% static "images/bck.jpg" %}') no-repeat center center fixed;
        background-size: cover;
    }

    .btn-save-changes, .btn-cancel {
        background-color: #debd77;
        color: white;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease-in-out;
        display: inline-block;
        text-decoration: none;
    }

    .btn-save-changes:hover {
        background-color: #886e21;
    }

    .btn-cancel {
        background-color: #e6c267;
        border: 1px solid #dc3545;
        color: white;
    }

    .btn-cancel:hover {
        background-color: #c4a55e;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .main-content {
        flex: 1;
    }

    .footer {
        background-color: #f8f9fa;
        padding: 20px 0;
        text-align: center;
    }

    .footer .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer .footer-content div {
        flex: 1;
        margin: 10px;
        max-width: 300px;
    }

    .footer img {
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto 10px;
    }

    hr {
        border: 1px solid #6F4E37;
        margin: 40px 0;
    }

    .contact-footer {
        background-color: #000;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
</style>

<div class="edit-item-container">
    <h1>Edit Item</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-save-changes">Save Changes</button>
        <a href="{% url 'cart' %}" class="btn-cancel">Cancel</a>
    </form>
</div>
{% endblock %}
